<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


     <form action="/d/inserir" method="POST">
         Nome:
         <input value="{{nome}}" name="nome" type="text">
         <br>
         ID do Gerente:
         <input value="{{idGerente}}" name="idGerente" type="text">
         <br>
         <input value="{{id}}" name="id" type="hidden">
         <br>
         <input type="submit">

     </form>

    
</body>
</html>