<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


     <form action="/trataform" method="POST">
         Nome:
         <input value="{{nome}}" name="nome" type="text">
         <br>
         email:
         <input value="{{email}}" name="email" type="text">
         <br>
         idDepartamento:
         <input value="{{idDepartamento}}" name="departamento" type="number">
         <br>
         login:
         <input value="{{login}}" name="login" type="text">
         <br>
         senha:
         <input value="{{senha}}" name="senha" type="text">
         <br>
         <input value="{{id}}" name="id" type="hidden">
         <br>
         <input type="submit">

     </form>

    
</body>
</html>